body {
  margin: 0;
  font-family: "Inter";
}

.links {
  a {
    color: black;
    text-decoration: none;
  }
}

.list-style {
  li {
    padding: 8px 16px 8px 16px;
    list-style: none;
  }
  li:hover {
    background-color: #d2e3ff;
    border-radius: 8px;
  }
}
